<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{$state.current.data.pageTitle}}
</h3>
<!-- BEGIN HEADER -->
<div data-ng-include="'layout/header/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
</div>
<!-- END HEADER -->
<div class="page-bar">
    <!--BEGIN BREADCRUMB-->
    <div data-ng-include="'layout/breadcrumb/breadcrumb.html'" data-ng-controller="BreadcrumbController" class="page-bar">
    </div>
    <!--END BREADCRUMB-->
</div>
<!-- END PAGE HEADER-->
<!--BEGIN PAGE CONTENT-->
<div >
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="showFormPackage()">Add Package</button>
                </div>
            </div>
        </div>
    </div>
    <accordion close-others="oneAtATime">
        <accordion-group heading="{{package0.name}}" ng-repeat="package0 in packages">
            {{package0.aliases[0]['alias']}}
            <span style="float: right;">
               <form editable-form name="packageform" onbeforesave="savePackage($data, package0._id)" ng-show="packageform.$visible" class="form-buttons form-inline" >
                   <button type="submit"  ng-disabled="packageform.$waiting" class="btn btn-primary">
                       save
                   </button>
                   <button type="button" ng-disabled="packageform.$waiting" ng-click="packageform.$cancel()" class="btn btn-default">
                       cancel
                   </button>
               </form>
            <div class="buttons" ng-show="!packageform.$visible">
                <button class="btn btn-primary"  ng-click="packageform.$show()">edit</button>
                <button class="btn btn-danger"  ng-click="removePackage($index, package0._id)">del</button>
            </div>

            </span>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Package Name</td><td>
                        <!-- editable username (text with validation) -->
        <span editable-text="package0.name" e-name="name" e-form="packageform">
          {{ package0.name || 'Enter name' }}
        </span>
                    </td></tr>
                <tr>
                    <td>Package Version</td>
                    <td>
        <span editable-select="package0Version.version" e-name="version" e-form="packageform" e-ng-options="p.value as p.text for p in package0Version">
          {{ showPackageVersion() || package0.version }}
        </span>
                    </td></tr>
                <tr>
                    <td>Publish Options</td><td>
          <span  editable-checkbox="package0.options.assets" e-name="publish.assets" e-form="packageform" e-title="assets"  value="assets">
                  <i ng-show="package0.options[0]['assets']" class="icon icon-check">assets</i>
          </span>
                    <span editable-checkbox="package0.options.views" e-form="packageform" e-name="publish.views" e-title="views"  value="views">
                  <i ng-show="package0.options[0]['views']" class="icon icon-check">views</i>
          </span>
                     <span editable-checkbox="package0.options.migrations" e-form="packageform" e-name="publish.migrations" e-title="migrations"  value="migrations">
                  <i ng-show="package0.options[0]['migrations']" class="icon icon-check">migrations</i>
          </span>
                        <span editable-checkbox="package0.options.configuration" e-form="packageform" e-name="publish.configuration" e-title="configuration"  value="configuration">
                  <i ng-show="package0.options[0]['configuration']" class="icon icon-check">configuration</i>
          </span>
                    </td></tr>
                <tr><td>Providers</td>
                    <td>
                        <span href="#" editable-textarea="package0.providers" e-form="packageform" e-name="providers" e-rows="7" e-cols="40">
                                {{ package0.providers || 'Enter providers' }}
                        </span>
                    </td></tr>
                <tr>
                    <td >Aliases</td>
                    <td > <b>Alias:</b>
                        <span editable-text="package0.alias" e-form="packageform" e-name="alias">
                            {{ package0.aliases[0]['alias'] || 'Enter alias' }}
                        </span><br>
                        <b>Facade:</b>
                        <span editable-text="package0.facade" e-form="packageform" e-name="facade">
                            {{ package0.aliases[0]['facade'] || 'Enter facade' }}
                        </span>
                    </td>
                </tr>
                   </table>
        </accordion-group>
    </accordion>
</div>
        <script type="text/ng-template" id="modal-package-form.html">
            <div class="modal-header">
                <h3>Add a New Package</h3>
            </div>
            <form name="form.packageForm" ng-submit="submitForm()" novalidate>
                <div class="modal-body">
                    <!-- NAME -->
                    <div class="form-group">
                        <label>Package Name</label>
                        <input type="text" name="name" class="form-control" ng-model="name" required>
                        <p ng-show="form.packageForm.name.$invalid && !form.packageForm.name.$pristine" class="help-block">Package name is required.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.packageForm.$invalid">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </form>


        </script>
<!--END PAGE CONTENT-->