<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
    <!--BEGIN BREADCRUMB-->
    <div data-ng-include="'layout/breadcrumb/breadcrumb.html'" data-ng-controller="BreadcrumbController" class="page-bar">
    </div>
    <!--END BREADCRUMB-->
</div>
<!-- END PAGE HEADER-->
<!--BEGIN PAGE CONTENT-->
<div >
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="showFormPackage()">Add Package</button>
                </div>
            </div>
        </div>
    </div>
    <accordion close-others="oneAtATime">
        <accordion-group heading="{{package0.name}}" ng-repeat="package0 in packages">
            <span style="float: right;">
               <form editable-form name="packageform" onbeforesave="savePackage($data, package0._id)" ng-show="packageform.$visible" class="form-buttons form-inline" >
                   <button type="submit"  ng-disabled="packageform.$waiting" class="btn btn-primary">
                       save
                   </button>
                   <button type="button" ng-disabled="packageform.$waiting" ng-click="packageform.$cancel()" class="btn btn-default">
                       cancel
                   </button>
               </form>
            <div class="buttons" ng-show="!packageform.$visible">
                <button class="btn btn-primary"  ng-click="packageform.$show()">edit</button>
                <button class="btn btn-danger"  ng-click="removePackage($index, package0._id)">del</button>
            </div>

            </span>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Package Name</td><td>
                        <!-- editable username (text with validation) -->
        <span editable-text="package0.name" e-name="name" e-form="packageform" onbeforesave="checkName($data, package.id)" e-required>
          {{ package0.name || 'empty' }}
        </span>
                    </td></tr>
                <tr>
                    <td>Package Version</td>
                    <td>
        <span editable-text="package0.version" e-name="version" e-form="packageform" >
          {{ package0.version || '2.1' }}
        </span>
                    </td></tr>
                <tr>
                    <td>Package Options</td><td>
        <span editable-checklist="package0.options" e-name="options" onshow="loadGroups()" e-form="packageform" e-ng-options="p.value as p.text for p in packageOptions">
          {{ showOptions() }}
        </span>
                    </td></tr>
                <tr><td>Package Providers</td>
                    <td>
                        <span href="#" editable-textarea="package0.provider" e-form="packageform" e-name="provider" e-rows="7" e-cols="40">
                                {{ package0.provider || 'Enter providers' }}
                        </span>
                    </td></tr>
                <tr>
                    <td>Package Aliases</td>
                    <td>
                        <span href="#" editable-textarea="package0.aliases" e-form="packageform" e-name="aliases" e-rows="7" e-cols="40">
                            {{ package0.aliases || 'Enter aliases' }}
                        </span>
                    </td>
                </tr>
                   </table>
        </accordion-group>
    </accordion>
</div>
        <script type="text/ng-template" id="modal-package-form.html">
            <div class="modal-header">
                <h3>Add a New Package</h3>
            </div>
            <form name="form.packageForm" ng-submit="submitForm()" novalidate>
                <div class="modal-body">
                    <!-- NAME -->
                    <div class="form-group">
                        <label>Package Name</label>
                        <input type="text" name="name" class="form-control" ng-model="name" required>
                        <p ng-show="form.packageForm.name.$invalid && !form.packageForm.name.$pristine" class="help-block">Package name is required.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.packageForm.$invalid">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </form>


        </script>
<!--END PAGE CONTENT-->