<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{$state.current.data.pageTitle}}
</h3>
<!-- BEGIN HEADER -->
<div data-ng-include="'layout/header/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
</div>
<!-- END HEADER -->
<div class="page-bar">
    <!--BEGIN BREADCRUMB-->
    <div data-ng-include="'layout/breadcrumb/breadcrumb.html'" data-ng-controller="BreadcrumbController" class="page-bar">
    </div>
    <!--END BREADCRUMB-->
</div>
<!-- END PAGE HEADER-->
<!--BEGIN PAGE CONTENT-->
<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button class="btn btn-default" ng-click="showFormModule()">Add Module</button>
            </div>
        </div>
    </div>
</div>
<accordion close-others="oneAtATime">
    <accordion-group ng-repeat="module in modules" >
        <accordion-heading >
            {{module.name}}
        </accordion-heading>
        Module details here...
        <a href="#/module_general/p/{{project.id}}/m/{{module._id}}">More about {{module.name}}...</a>
    </accordion-group>
</accordion>
<script type="text/ng-template" id="modal-module-form.html">
    <div class="modal-header">
        <h3>Add a New Module</h3>
    </div>
    <form name="form.moduleForm" ng-submit="submitForm()" novalidate>
        <div class="modal-body">
            <!-- NAME -->
            <div class="form-group">
                <label>Module Name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required>
                <p ng-show="form.moduleForm.name.$invalid && !form.moduleForm.name.$pristine" class="help-block">Module name is required.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.moduleForm.$invalid">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
<!--END PAGE CONTENT-->