<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{$state.current.data.pageTitle}}
</h3>
<div class="page-bar">
    <!--BEGIN BREADCRUMB-->
    <div data-ng-include="'layout/breadcrumb/breadcrumb.html'" data-ng-controller="BreadcrumbController" class="page-bar">
    </div>
    <!--END BREADCRUMB-->
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button class="btn btn-default" ng-click="showFormRequest()">Add Request</button>
            </div>
        </div>
    </div>
</div>
<accordion close-others="oneAtATime">
    <accordion-group heading="{{request.name}}" ng-repeat="request in requests">
        Request details here
        <a href="#/requests_routes/p/{{project.id}}/m/{{module._id}}/r/{{request._id}}">More on {{request.name}}...</a>
    </accordion-group>
</accordion>
<script type="text/ng-template" id="modal-request-form.html">
    <div class="modal-header">
        <h3>Add a New Request</h3>
    </div>
    <form name="form.requestForm" ng-submit="submitForm()" novalidate>
        <div class="modal-body">
            <!-- NAME -->
            <div class="form-group">
                <label>Request Name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required>
                <p ng-show="form.requestForm.name.$invalid && !form.requestForm.name.$pristine" class="help-block">Request name is required.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.requestForm.$invalid">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
<!--END PAGE CONTENT-->