<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Transformers
</h3>
<div class="page-bar">
    <!--BEGIN BREADCRUMB-->
    <div data-ng-include="'layout/breadcrumb/breadcrumb.html'" data-ng-controller="BreadcrumbController" class="page-bar">
    </div>
    <!--END BREADCRUMB-->
</div>
<!-- END PAGE HEADER-->
<!--BEGIN PAGE CONTENT-->
<accordion close-others="oneAtATime">
    <accordion-group heading="{{transformer.name}} " ng-repeat="transformer in transformers">
          <span style="float: right;">
               <tr> <div class="btn-edit">
                   <button type="button" class="btn btn-default" ng-show="!transformerForm.$visible" ng-click="transformerForm.$show()">
                       edit
                   </button>
                   <button class="btn btn-danger"  ng-show="!transformerForm.$visible" ng-click="removeTransformer($index)">
                       delete
                   </button>
               </div>
               </tr>
            </span>
        <form editable-form name="transformerForm" onaftersave="saveTable()" oncancel="cancel()">
        <table class="table table-bordered table-striped">
            <tr>
                <td style="width:45%">
                  Transformer Name
                </td>
                <td style="width:55%">
                    <a href="#" id="transformer_name" editable-text="transformer.name" e-form="transformerForm">
                        {{transformer.name}} </a>
                </td>
            </tr>
            <tr>
                <td style="width:45%">
                   Mapping
                </td>
                <td style="width:55%">
                    <a href="#" id="transformer_mapping" editable-text="transformer.mapping" e-form="transformerForm">
                        {{ transformer.mapping || 'Mapping' }} </a>
                </td>
            </tr>
            </table>
            <div class="btn-form" ng-show="transformerForm.$visible">
                <button type="submit" ng-disabled="transformerForm.$waiting" class="btn btn-primary">save</button>
                <button type="button" ng-disabled="transformerForm.$waiting" ng-click="transformerForm.$cancel()" class="btn btn-default">cancel</button>
            </div>
            </form>
    </accordion-group>
</accordion>
<!--END PAGE CONTENT-->