<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="#/dashboard.html">
		<img src="../../../assets/admin/layout2/img/Larastart.png" width="200" alt="logo" class="logo-default"/>
		</a>
		<!--<div class="menu-toggler sidebar-toggler">-->
			<!--&lt;!&ndash; DOC: Remove the above "hide" to enable the sidebar toggler button on header &ndash;&gt;-->
		<!--</div>-->
	</div>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->
	<div class="page-actions">
		<!--<div class="btn-group hide">-->
			<!--<button type="button" class="btn btn-circle red-pink dropdown-toggle" data-toggle="dropdown">-->
			<!--<i class="icon-bar-chart"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>-->
			<!--</button>-->
			<!--<ul class="dropdown-menu" role="menu">-->
				<!--<li>-->
					<!--<a href="#">-->
					<!--<i class="icon-user"></i> New User </a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">-->
					<!--<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">-->
					<!--<i class="icon-basket"></i> New order </a>-->
				<!--</li>-->
				<!--<li class="divider">-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">-->
					<!--<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">-->
					<!--<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>-->
					<!--</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</div>-->
		<div class="btn-group">
			<button type="button" class="btn btn-circle green-haze dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
                <li ng-click="showForm()">
                   <a href="#" > <i class="icon-docs"></i> {{modal.label}} </a>
                </li>
			</ul>
		</div>
	</div>
	<!-- END PAGE ACTIONS -->
	<!-- BEGIN PAGE TOP -->
	<div class="page-top">

	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->
<script type="text/ng-template" id="modal-form.html">
    <div class="modal-header">
        <h3>Add a {{modal.label}}</h3>
    </div>
    <form name="form.Form" ng-submit="submitForm()" novalidate>
        <div class="modal-body">
            <!-- NAME -->
            <div class="form-group">
                <label>{{modal.name}} Name</label>
                <input type="text" name="name" class="form-control" ng-model="name" required>
                <p ng-show="form.Form.name.$invalid && !form.Form.name.$pristine" class="help-block">{{modal.name}} name is required.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.Form.$invalid">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>